/* Variables */
body {
  font-family: 'Lato', sans-serif;
  color: white;
  background: #F6F6F6;
  overflow-x: hidden; }

.row {
  margin-left: 0;
  margin-right: 0; }

.visible {
  display: block; }

.form-control:focus {
  border-color: #FDE142; }

.btn-main {
  background-color: #FDE142;
  color: #262626; }

.modal-content {
  color: #262626; }

.img-responsive {
  height: 100%; }
