/* Variables */
/* Styles for header of web */
#header {
  background: black;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  height: 100vh;
  padding: 0; }
  #header a {
    z-index: 15;
    position: relative;
    padding: .8em;
    font-size: 1.5em; }
    #header a:hover {
      color: #FDE142; }
    #header a:visited {
      color: white; }
  #header #bimage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    z-index: 1;
    opacity: .5;
    background-size: auto auto;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden; }
  #header .header-title-wrapper {
    top: 20%;
    position: relative; }
    #header .header-title-wrapper #header-title {
      font-size: 13em;
      font-weight: 900;
      text-transform: uppercase;
      z-index: 2;
      margin: 0;
      position: relative;
      text-align: center;
      color: #FDE142; }
  #header .header-subtitle-wrapper {
    position: relative;
    top: 25%; }
    #header .header-subtitle-wrapper #header-subtitle {
      text-align: center;
      font-size: 3em;
      letter-spacing: 3px; }
  #header .header-btn-wrapper {
    position: relative;
    top: 35%; }

/* Transparent Button */
.btn-primary-outline {
  background-color: transparent;
  border-color: #FDE142;
  color: #F6F6F6; }
