/* Variables */
@media (min-width: 1024px) {
  #header .header-title-wrapper #header-title {
    font-size: 13vw; }
  #header .header-subtitle-wrapper #header-subtitle {
    font-size: 3vw; } }

@media (max-width: 1024px) {
  #header a {
    font-size: 2vmax; } }

/* Tablet media query */
@media (min-width: 600px) and (max-width: 800px) and (orientation: portrait) {
  #main #about h2 {
    top: 1em; }
  #main #about .flex-container {
    top: 20vh;
    padding: 1em; }
    #main #about .flex-container img {
      width: 100%; }
  #main #projects {
    min-height: 915px; } }

@media (min-width: 965px) and (max-width: 1250px) {
  #main #projects {
    min-height: 1120px; } }

@media (min-width: 800px) and (max-width: 965px) {
  #main #projects {
    min-height: 938px; } }

/* Smartphone media query*/
@media (max-width: 414px) {
  #externo.active h4,
  #externo.active h3 {
    font-size: 1.33em; } }
