/* Variables */
@media (min-width: 1024px) {
  #header .header-title-wrapper #header-title {
    font-size: 13vw; }
  #header .header-subtitle-wrapper #header-subtitle {
    font-size: 3vw; } }

@media (max-width: 1024px) {
  #header a {
    font-size: 2vmax; } }

/* Tablet media query */
@media (min-width: 600px) and (max-width: 800px) and (orientation: portrait) {
  #main #about h2 {
    top: 1em; }
  #main #about .flex-container {
    top: 20vh;
    padding: 1em; }
    #main #about .flex-container img {
      width: 100%; }
  #main #projects {
    min-height: 915px; } }

@media (min-width: 965px) and (max-width: 1250px) {
  #main #projects {
    min-height: 1120px; } }

@media (min-width: 800px) and (max-width: 965px) {
  #main #projects {
    min-height: 938px; } }

/* Smartphone media query*/
@media (max-width: 414px) {
  #externo.active h4,
  #externo.active h3 {
    font-size: 1.33em; }
  #main .cd-section h2 {
    font-size: 5em; }
  #main #about .img-me-wrapper img {
    width: 90%; }
  #main #about .text-container {
    margin-left: 0; }
  #main #projects {
    min-height: 775px; } }

@media (max-width: 385px) {
  #main .cd-section h2 {
    font-size: 4.5em; }
  #main #about .text-container p {
    font-size: 1.4em; }
  #externo.active h3,
  #externo.active h4 {
    font-size: 1.1em; } }

@media (max-width: 320px) {
  #externo.active h3,
  #externo.active h4 {
    font-size: .9em; }
  #main .cd-section h2 {
    font-size: 4em; }
  #main #about .img-me-wrapper {
    display: none; }
  #main #about .text-container p {
    text-align: center;
    font-size: 1.6em; }
  #main #contact .social-wrapper .icon-text-wrapper {
    margin-left: 10px; } }
