/* Own Styles for personal Portfolio */
$mainColor: #FDE142 ;
// old color #e4e409
$simpleGrey: #E4E4E4;
$simpleWhite: #F6F6F6;
$simpleDark: #262626;
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
/* Glyphicons font, need to import all font formats for work correctly */
@font-face { font-family: "Glyphicons Halflings"; src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-ha‌​lflingsregular") format("svg"); }

html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;


}
body{
  font-family: 'Lato', sans-serif;
  color:white;
  background:$simpleWhite;
  position:absolute;
  top:0;

}
//--- Editing Header element and header inside elements
#header{
	background: black;
	position: relative;
    overflow: auto;
    padding:0;
    overflow-x:hidden;
    height:100vh ; //Viewport Height

  //--- Header inside Elements
  a:hover{
    color:$mainColor;
  }
  a:visited{
    color:white;
  }
  a{
    z-index: 15;
    position: relative;
    padding:.8em;
    font-size:1.5em;
  }
  #bimage{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .6;
    background: url(../images/header.jpg) ;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    filter: blur(3px);
  }
.header-title-wrapper{
  top:20%;
  position: relative;
}
 #header-title{
  font-size:13em;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 2;
  margin:0;
  position:relative;
  text-align: center;
  color:$mainColor;
}
.header-subtitle-wrapper{
  position: relative;
  top:25%;
}
#header-subtitle{
  text-align: center;
  font-size: 3em;
  letter-spacing: 3px;
}
.header-btn-wrapper{
  position: relative;
  top:35%;
}
} // -- END HEADER

/* Transparent Button */
.btn-primary-outline {
  background-color: transparent;
  border-color:$mainColor;
  color:white;
}

/* Lateral NavBar */
#aside{
  display: none;
  background:$simpleDark;
  color:$simpleWhite;
  position: fixed;
  top:0;
  height:100%;
  z-index: 20;
  overflow:auto;

  .menu-title{
    position: relative;
    margin-top:2em;
    height:7em;
    line-height:7em;
    width:100%;
    &:after{
      content: '';
      width: 100%;
      box-sizing: border-box;
      height: 2px;
      background: $mainColor;
      position: absolute;
      bottom: 0;
      left:0;
    }
  }
  .menu-text{
    font-size: 3em;
    text-transform: uppercase;
  }

  #profile{
    margin-top: 5em;
    position: relative;
    height:23em;
    width:100%;
    .profile-icon{
      margin:0 auto;
      max-width:100%;
    }
    .profile-name{
      top:1em;
      font-size:1.5em;
      position: relative;
      text-align: center;
      text-transform: uppercase;

    }

  }
  #navbar{
    position: relative;
    margin-top:2em;

      ul li a:hover{
        color:black;
        background-color:transparent;
      }
      ul li:hover{
        box-shadow: 26em 0 rgba(228,228,9,1) inset;
        transition: all .5s;
        text-indent: 1em;
      }
      ul li a {
        color:white;
        font-size:1.5em;


      }
    ul li{
      margin-bottom:1em;
      box-shadow: 3px 0 $mainColor inset;


    }
  }
}// END LATERAL NAVBAR
// external menu button wrapper #externo
#externo{
  position:fixed;
  top:3.7em;
  z-index: 20;
  overflow-x:hidden;
  h3,h4{display: none;}
  &.active {
    background: $simpleDark;
    margin: 0;
    top: 0;
    padding: 1em;
    h3, h4 {
      display: inline-block;
      text-align: center;
      font-size: 2.5em;
      line-height: 60px;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

// Menu button
.img-wrapper img{
  width: 60px;
  padding: .5em;
  box-sizing: border-box;
  border: 1px solid $mainColor;
}

/***** Main styles *****/
/* Set margin left and right to 0 to fixed right white bar */
.row{
  margin-left:0;
  margin-right:0;
}
#main{
  background:$simpleWhite;
  position: relative;
  color:black;
  text-align: center;
  margin-top:7%;
  padding:0;
  .cd-section{
    height:100vh;
  }
  .aboutMe{
    background:$simpleWhite;
  }
  .projects {
    background:$simpleGrey;
    padding-top:3em;
    padding-bottom:3em;
    .card{
      padding: 0;
      box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);

      .btn-white-outline {
        border: 1px solid $mainColor;
        color: #fff;
        background-color: transparent;
      }
      .card-items{
        position:relative;
        margin-top:20%;
      }
    }


  }
}



/* ***** Media Queries ****** */
@media (max-width: 1366px) and (min-width: 1148px) {
  #aside{
    width:22%;
    #profile{
      height:20em;
    }
  }
}
@media (max-width: 1366px) {
  #aside {
    .menu-title {
      .img-wrapper img {
        width: 50px;
      }
    }
  }
  #externo{
    img{
      width:50px;
    }
  }
  #externo.active {
    h3, h4 {
      line-height: 50px;
      font-size: 2em;
    }
    img{
      width:50px;
    }
  }
}
@media (max-width: $screen-lg-min){
  #header{
    .header-title-wrapper #header-title{
      font-size:12em;
    }

  }
}
@media (max-width: $screen-md-min) {
  #header {
    .header-title-wrapper #header-title {
      font-size: 10em;
    }
  }
}
@media (max-width: $screen-md-min){
  #profile{
    display:none;
  }
}
@media (max-width: 800px) and (orientation: portrait){
  #header{
    .header-title-wrapper #header-title{
      font-size:9em;
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  #aside{
    #navbar{
      ul li:hover{
        box-shadow: 45em 0 rgba(228,228,9,.8) inset;

      }
      ul li{
        margin-bottom:3em;
        a{
          font-size:2em;
        }
      }

    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) {
  #aside {
    #profile {
      height: 16em;
    }
  }
}
@media (max-width: $screen-xs-max){
  #main{
    background:white;
    position: relative;
    color:black;
    text-align: center;
    margin-top:7%;
    .projects {
      .card{
        .card-items{
          margin-top:0%;
        }
      }


    }
  }
}
@media (max-width: $screen-xs-max) and (orientation: landscape){
  #header{
    .header-title-wrapper #header-title{
      font-size:6em;
    }
    .header-subtitle-wrapper{
      font-size:.7em;
    }
    a{
      font-size:1.2em;
      padding:.8em;
    }
  }
  #aside {
  #navbar {
      top: 1em;
    }
  }
  #externo{
    top:1.5em;
  }

}
@media (max-width: $screen-xs-max) and (orientation: portrait){
  #aside {
    #navbar {
      margin-top:4em;
    }
  }
}
@media (max-width: 450px){
  #header{
    .header-title-wrapper #header-title{
      font-size:4em;
    }
    .header-subtitle-wrapper #header-subtitle{
      font-size:2.5em;
    }
  }
  #externo.active{
    h3,h4{
      font-size:1.3em;
      padding:0;
      line-height:50px;
    }
  }
  main h1{
    font-size:3em;
  }
}
//Iphone 5s 320px
@media (max-width: 320px){
  #header{
    .header-title-wrapper #header-title{
      font-size:3.5em;
    }
    .header-subtitle-wrapper #header-subtitle{
      font-size:2.5em;
    }
  }
  #externo.active{
    h3{width:75%;}
    h4{display:none;}
  }
}
/** animate.css by Daniel Eden. https://github.com/daneden/animate.css **/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
/** END ANIMATION **/
