/* Own Styles for personal Portfolio */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
body {
  font-family: 'Lato', sans-serif;
  color: white;
  position: absolute;
  top: 0;
  width: 100%; }

#header {
  background: black;
  position: relative;
  overflow: auto; }
  #header a:hover {
    color: #e4e409; }
  #header a:visited {
    color: white; }
  #header a {
    z-index: 5;
    position: relative;
    padding: .8em;
    font-size: 1.5em; }
  #header #bimage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .6;
    background: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    filter: blur(3px); }
  #header .header-title-wrapper {
    top: 20%;
    position: relative; }
  #header #header-title {
    font-size: 13em;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 2;
    margin: 0;
    position: relative;
    text-align: center;
    color: #e4e409; }
  #header .header-subtitle-wrapper {
    position: relative;
    top: 25%; }
  #header #header-subtitle {
    text-align: center;
    font-size: 3em; }
  #header .header-btn-wrapper {
    position: relative;
    top: 35%; }

/* Transparent Button */
.btn-primary-outline {
  background-color: transparent;
  border-color: #e4e409;
  color: white; }

/* Main styles */
#main {
  background: white;
  position: relative;
  color: black;
  text-align: center; }

main h1 {
  font-size: 5em;
  position: absolute;
  top: 30%;
  margin: 0;
  width: 100%; }

/* Lateral NavBar */
#aside {
  display: none;
  background: black;
  overflow: auto;
  color: white;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 20; }
  #aside .menu-title {
    position: relative;
    top: 2em;
    height: 7em;
    line-height: 7em;
    width: 100%; }
    #aside .menu-title:after {
      content: '';
      width: 95%;
      box-sizing: border-box;
      height: 2px;
      background: #e4e409;
      position: absolute;
      bottom: 0;
      left: 7%; }
  #aside .menu-text {
    font-size: 3em;
    text-transform: uppercase; }
  #aside #navbar {
    position: relative;
    top: 5em; }

#externo {
  position: fixed;
  top: 3.7em;
  z-index: 20;
  margin-left: .5em; }
  #externo h3, #externo h4 {
    display: none; }
  #externo.active {
    background: black;
    margin: 0;
    top: 0;
    padding: 1em; }
    #externo.active h3, #externo.active h4 {
      display: inline-block;
      text-align: center;
      font-size: 2.5em;
      line-height: 67px;
      margin: 0;
      text-transform: uppercase; }

.img-wrapper img {
  width: 67px;
  padding: .5em;
  box-sizing: border-box;
  border: 1px solid #e4e409; }

@media (max-width: 1366px) {
  .img-wrapper img {
    width: 50px; }
  #externo h3, h4 {
    line-height: 50px;
    font-size: 2em; } }

@media (max-width: 360px) {
  #header .header-title-wrapper #header-title {
    font-size: 4em; }
  #header .header-subtitle-wrapper #header-subtitle {
    font-size: 2.5em; }
  #externo.active h3, #externo.active h4 {
    font-size: 1.3em;
    padding: 0;
    line-height: 50px; }
  main h1 {
    font-size: 3em; } }

/** animate.css by Daniel Eden. https://github.com/daneden/animate.css **/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

/** END ANIMATION **/
