@import '../vars.scss';
@import '../vendor/hamburgers.min.css';
@import '../mixins.scss';
header{
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100vw;

    &.active {
        display: flex;
    }
    .navigation{
        color: $white;
        background-color: $black-transparency;
        flex-grow: 1;
        flex-basis: 100%;
        .hamburger{
            z-index: 100;
            .hamburger-inner{
                background-color: $white;
                &:before, &:after{
                    background-color: $white;
                }
            }

            &.is-active{
                .hamburger-inner{
                    opacity: 0;
                    animation: showHideHamburger 1.5s ease-in-out forwards;
                    background-color: $black;
                    &:before, &:after{
                        background-color: $black;
                    }
                }
            }

            @keyframes showHideHamburger {
                100%{
                    opacity: 1;
                }
            }
        }
        .hamburger-content{

            display: none;
            background: $white;
            position: absolute;
            z-index: -1;
            left: 50%;
            width: 50%;

            @keyframes fitToScreen {
                0%{
                    height: 50vh;
                    top: 50%;
                    transform: translate(-50%,10%);
                    transform-origin: center;
                }
                100%{
                    height: 100vh;
                    width: 100%;
                    top: 0%;
                    transform: translate(-50%, 0%);
                }
            }
            &.is-active{
                display: block;
                animation: fitToScreen .8s ease-in-out forwards;
            }
            h2{
                font-size: 48px;
                color: $black;
                margin-top: 20%;
                text-align: center;
                @include desktop {
                    margin-top: 10%;
                }
            }
            .navigation{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                position: relative;
                text-align: center;
                margin-top: 10%;

                @include desktop{
                    margin-top: 3%;
                }
                > a {
                    font-size: 32px;
                    font-weight: 300;
                    color: $black;
                    padding-bottom: $padding * 2;
                    text-decoration: none;
                
                }
            }
        }
    }
}