@import '../vendor/hamburgers.min.css';

header{
    .navigation{
        padding: .8rem;
        color: white;
        .name{
            text-align: center;
        }
        .hamburger{
            padding: 0;
            .hamburger-inner{
                background-color: white;
                &:before, &:after{
                    background-color: white;
                }
            }
        }
    }
}