@import '../vars.scss';
@import '../vendor/hamburgers.min.css';

header{
    position: fixed;
    z-index: 10;
    width: 100%;
    .navigation{
        color: $white;
        background-color: $black-transparency;
        .nav-text{
            text-align: center;
            line-height: 58px;
        }
        .hamburger{
            .hamburger-inner{
                background-color: $white;
                &:before, &:after{
                    background-color: $white;
                }
            }
        }
    }
}