@import '../vars.scss';

.hero-banner{
    width: 100vw;
    height: 100vh;
    background: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    video {
      position: absolute;
      opacity: .25;
      width: 100vw;
      object-fit: cover;
      height: 100vh;
    }
    @keyframes showTopText {
        0% { transform: translate3d(0, 100%, 0); }
        40%, 60% { transform: translate3d(0, 50%, 0); }
        100% { transform: translate3d(0, 0, 0); }
      }
      @keyframes showBottomText {
        0% { transform: translate3d(0, -100%, 0); }
        100% { transform: translate3d(0, 0, 0); }
      }
      .animated-title {
        color: $white;
        height: 90vmin;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90vmin;
        font-weight: bold;
        z-index: 5;
        .normal {
            font-weight: normal;
        }
      }
      .animated-title > div {
        height: 50%;
        overflow: hidden;
        position: absolute;
        width: 100%;
      }
      .animated-title > div div {
        font-size: 10vmin;
        padding: 2vmin 0;
        position: absolute;
      }
      .animated-title > div div span {
        display: block;
      }
      .animated-title > div.text-top {
        border-bottom: 1vmin solid $white;
        top: 0;
      }
      .animated-title > div.text-top div {
        animation: showTopText 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        bottom: 0;
        transform: translate(0, 100%);
      }
     
      .animated-title > div.text-bottom {
        bottom: 0;
      }
      .animated-title > div.text-bottom div {
        animation: showBottomText 0.5s;
        animation-delay: 1.75s;
        animation-fill-mode: forwards;
        top: 0;
        transform: translate(0, -100%);
      }


      .scroll-wrap{
        animation: showScrollBtn 1.5s ease-in-out forwards;
        animation-delay: 2s;
        bottom: 20px;
        z-index: 5;
        left: 50%;
        opacity: 0;
        position: absolute;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        @keyframes showScrollBtn {
          0% {
            opacity: 0;
          }
          100% {opacity: 1;}
        }
        .scroll-btn{
          color: $white;
          display: inline-block;
          font-weight: 300;
          letter-spacing: .1em;
          position: relative;
          
          transition: opacity .3s;
          text-decoration: none;
          padding-top: $padding * 3;
  
          &:hover {
            opacity: .5;
          }
  
          span{
            position: absolute;
            top: 0;
            left: 50%;
            width: 30px;
            height: 50px;
            margin-left: -15px;
            border: 2px solid #fff;
            border-radius: 50px;
            box-sizing: border-box;
  
            &:before {
              position: absolute;
              top: 10px;
              left: 50%;
              content: '';
              width: 6px;
              height: 6px;
              margin-left: -3px;
              background-color: #fff;
              border-radius: 100%;
              -webkit-animation: sdb10 2s infinite;
              animation: sdb10 2s infinite;
              box-sizing: border-box;
            }
          }
          @keyframes sdb10 {
            0% {
              transform: translate(0, 0);
              opacity: 0;
            }
            40% {
              opacity: 1;
            }
            80% {
              transform: translate(0, 20px);
              opacity: 0;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
}
