@import '../vars.scss';

.hero-banner{
    width: 100vw;
    height: 100vh;
    background: $primary-lighter;
    background-size: cover;
    display: flex;
    justify-content: center;

    &:before{
        content: "";
        position: absolute;
        width: 100vw;
        opacity: .8;
        height: 100vh;
        background: url("https://iamnikiyo.github.io/images/header-images/2.png"); 
    }
    .hidden {
        opacity:0;
      }
    .console-container {
        font-family:Khula;
        font-size:4em;
        text-align:center;
        height:200px;
        width:600px;
        display:block;
        position:absolute;
        color:white;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
    }
    .console-underscore {
        display:inline-block;
        position:relative;
        top:-0.14em;
        left:10px;
    }
}
