@import "../vars.scss";

.navigation-links{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    li{
        display: flex;
        a{
            color: $white;
            text-decoration: none;
        }
    }
}