@import "../base/variables"
#main
  background: $simpleWhite
  position: relative
  color: $simpleDark
  text-align: center
  padding: 0

  .cd-section
    min-height: 100vh
    width: 100vw
  .cd-section > h2
    font-size: 6em
    font-weight: 900
    text-align: center
    text-transform: uppercase
    margin-bottom: .3em

  #about > h2
    top: 1.1em
    position: relative

  .aboutMe
    background: $simpleWhite
    .flex-container
      top: 10em
      position: relative
      display: flex
      flex-flow: row
      align-items: center
      justify-content: center

    .text-container
      margin-left: 2em
      display: flex
      align-self: flex-start
      margin-top: 3em

      p
        text-align: left
        font-size: 1.5em


  .projects
    color: $simpleDark
    background: $mainColor
    padding: 3em 0em 3em 0em
    min-height: 80vh

    .carousel-wrapper
      position: relative

    .carousel
      padding: 0
      height: 100%
      margin-left: 1em
      width: 65%

    img
      transition: all .3s ease-in-out

      &:hover
        transform: scale(1.1)

    .project-info
      height: 100%
      position: absolute
      right: 0
      display: flex
      flex-direction: column
      justify-content: center
      font-size: 1.3em
      padding: 1em

      h2
        font-size: 2em

      h3
        font-size: 1.7em

      h2,
      h3
        text-transform: uppercase
        font-weight: bold
        color: $simpleDark

      hr
        width: 80%
        border-top: 1px solid $simpleDark

  #contact
    color: $simpleWhite
    padding-top: 3em
    min-height: 70vh
    overflow: auto
    background:
      color: $simpleDark

    h2
      margin-top: 0

    h3
      color: $mainColor

    .email-wrapper textarea
      min-height: 30vh
      margin-top: 1vh

// Fixing works width
@media (max-width: 1279px)
  #projects .carousel-wrapper .project-info
    padding: 0

@media (max-width: 1250px)
  #projects .carousel-wrapper .carousel
    display: block
    width: 100vw
    z-index: 5
    margin: 0

  #projects .carousel-wrapper .project-info
    display: block
    width: 100vw
    position: relative
