@import '../styles/vars.scss';
@import '../styles/mixins.scss';

.app {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $padding $padding;
    min-height: 100vh;
    @include tablet {
        border-radius: 40px;
        min-height: unset;
        padding: $padding * 2 $padding * 2;
    }

    @include desktop {
        padding: $padding $padding * 4
    }

    .top{
        display: grid;
        //column-gap: $padding * 2;
        grid-template-columns: repeat(24,1fr);
        margin-bottom: $padding;

        @include tablet{
            margin-bottom: $padding * 2;
        }
        @include tablet{
            margin-bottom: $padding * 3;
        }
        .navigation {
            @include tablet {
                grid-column: 2/24
            }
            @include desktop{
                grid-column: 7/20;
            }
            @include xl{
                grid-column: 13/22;
            }
        
        }
    }
}