@import './fonts.scss';
@import './mixins.scss';
@import './vars.scss';

*{
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(111.48deg, $blue 0%, $red 99.12%) no-repeat, #000000;
    height: 100vh;
    max-height: 100vh;

    @include tablet {
        padding: $padding / 2 $padding * 1.5;
    }
    @include desktop{
        padding: $padding * 2 $padding * 3;
    }
}