<<<<<<< HEAD

$black: #18252a;
$primary-color: #3aafa9;
$primary-lighter: #D1E8E2;
$secondary-color: #D9B08C;
$secondary-lighter: #FFCB9A;

$black-transparency: rgba(44, 53, 49, 0.72);
$white: #fff;
=======
$bg-grey: #333;
$bg-grey-lighter: rgba(51, 51, 51, 0.88);
$white: white;
>>>>>>> b0c99ce1f964e872e3aa3917ff277293b784a808
