/* Palette */

$black: #000000;
$white: #fff;
$red: #F1515E;
$blue: #1DBDE6;

/* common paddings and margins */
$padding: 20px;

/* breakpoints */
$mobile-max-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
$xl-width: 1600px;