@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.navigation{
    //mobile version
    &.open{
        background: linear-gradient(111.48deg, rgba(29, 189, 230, 1) 0%, rgba(241, 81, 94, 1) 99.12%);
        backdrop-filter: blur(20px);
        position: absolute;
        height: 100vh;
        overflow-y: hidden;
        padding: $padding * 3 $padding;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        &:after{
            content: '';
            width: 100%;
            background: rgba(0,0,0,.65);
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        h2 {
            display: flex;
            margin: 0;
        }

        .items {
            display: grid;
            font-size: 24px;
            row-gap: $padding * 1.5;
            padding-top: $padding * 2;
        }
    }
    
    @include tablet {
        .items{
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-sizing: border-box;
            backdrop-filter: blur(4px);
            border-radius: 20px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            justify-content: space-around;
            text-align: center;
            padding: $padding;
        }
    }

    h2 {
        display: none;
        color: white;
        font-size: 32px;
    }
    .items {
        display: none;
        
        @include tablet {
            display: flex;
        }
    }
    .nav-link{
        color: white;
        text-decoration: none;
    }
}