---
const { text } = Astro.props;
---

<div class="flex items-center gap-2 text-sm font-bold text-primary bg-primary/10 border border-primary/20 rounded-full py-1.5 px-4 self-start">
  <span class="material-symbols-outlined text-base">verified</span>
  <span>{text}</span>
</div>
